# Python cache / build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Images
*.png

# Data files
*.csv
*.npy
*.npz
*.h5

# Ignore everything inside these folders
geometry/*
data/*

# But keep the placeholder file so the folder exists in Git
!geometry/.gitkeep
!data/preprocessed/.gitkeep
!data/ncf/.gitkeep
!data/synthetic/.gitkeep



