# Python cache / build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Images
*.png

# Data files
*.csv
*.npy
*.npz
*.txt
*.h5

# Ignore everything inside geometry folder
geometry/*

# But keep the placeholder file so the folder exists in Git
!geometry/.gitkeep




